.LogoutButton {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.UserInfoContainer {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  margin: 0;
  padding: 0;
  gap: 20px; 
}