/* RightSidebar.module.css */

.Sidebar {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  height: 360px;
  background-color: #f0f1f3;
  padding: 50px 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.SidebarContent {
  /* display: flex; */
  /* align-items: center; */
  flex-direction: column;
  gap: 42px;
}

.Summary,
.NotRecommended {
  width: 288px;
  align-self: flex-start;
}

.Date,
.NotRecommendedLabel {
  font-family: Verdana, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 4%;
  color: #212121;
  margin-bottom: 10px;
  text-align: left;
}

.NotRecommended li {
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4%;
    color: #9b9faa;   
  }

.List,
.ProductList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Label,
.Value,
.Placeholder,
.ProductItem {
  font-family: Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 4%;
  color: #9b9faa;
}

.List li,
.ProductList li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

/* Tablet görünüm (min 768px) */
@media screen and (min-width: 768px) {
  .Sidebar {
    height: 326px;
    background-image: url("/public/images/rightsidebarbackgroundtablet.png");
    background-repeat: no-repeat;
    padding: 50px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-position: right;
    background-size: contain;
  }

  .Date,
  .NotRecommendedLabel {
    text-align: left;
  }

  .SidebarContent {
    flex-direction: column;
    justify-content: center;

    align-items: center;
    gap: 200px;
  }

  .Summary,
  .NotRecommended {
    width: 288px;
    height: 166px;
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
  }

}

/* Masaüstü görünüm (min 1280px) */
@media screen and (min-width: 1280px) {
  .Sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    background-image: url(/public/images/rightsidebarbackground.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    padding: 270px 20px 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0px;
  }

  .SidebarContent {
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    /* gap: 42px; */

    height: 100%;
  }

  .Summary {
    margin-bottom: 0;
  }

  .NotRecommended {
    margin: 0 auto;
    align-content: center;
    padding-left: 80px;
  }


}
