header {
  display:flex;
  height: 80px;
  border-bottom:solid 2px #E0E0E0;
  margin-bottom:40px;

}

.headerTablet {
  margin-bottom:0px;
}

.headerDesktop {
  height:200px;
  margin-bottom:0px;
  border:none;
}


.headerContainer {
  margin:auto;
}

.headerContainerDesktop {
  margin:auto;
}

.headerUL {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;

}

