.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  font-weight: 700px;
  letter-spacing: 0%;
  margin-bottom: 16px;
  color: #212121;
}
.CalorieValue {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 4%;
  color: #264061;
  margin-bottom: 32px;
}
.Subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 4%;
  margin-bottom: 12px;
  color: #212121;
}
.ProductList {
  list-style: decimal;
  padding-left: 20px;
  margin-bottom: 24px;
  text-align: left;
}
.ProductItem {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 4%;
  margin-bottom: 4px;
  color: #9b9faa;
}
.ActionButton {
  width: 210px;
  height: 43px;
  top: 587px;
  left: 535px;
  border-radius: 30px;
  background-color: #fc842d;
  color: white;
  font-weight: 500;
  padding: 12px 24px;
  border: none;

  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 4%;
}
.ActionButton:hover {
  background-color: #e57214;
}

/* Responsive */
@media (max-width: 480px) {
  .CalorieValue {
    font-size: 28px;
  }
  .ActionButton {
    font-size: 14px;
    padding: 10px 20px;
  }
}
